<!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
<title>Unhindled</title>
</head>
</html>
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div >
        <div >
            <a href="{% url 'profile' object.pk %}" >Back to Profile</a>
        </div>
    </div>
    <div >
        <div>
            <p class="non-white-title">Update Profile</p>
        </div>
    </div>
    <div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div >
                    <button class="mt-5">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}