 <!DOCTYPE html>
<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
<title>Unhindled</title>
</head>
</html>
<div class="login-banner">
	<div class="user-info">
			<p class="white-title">Unhindled</p>
			<a class="header-link" href="{% url 'index' %}">Home</a>
			<a class="header-link" href="{% url 'mystream' %}">My Stream</a>
			<a class="header-link" href="{% url 'createPost' %}">Create Post</a>
			<div class="account-management">
				<a class="white-text mr-2" href="{% url 'profile' user.profile.pk %}">Profile</a>
					<a class="white-text mr-2" href="{% url 'logout' %}">Log Out</a>
			</div>
	</div>
</div>
<p class="non-white-title">Manage Friends</p>

<form action="/follow" method="POST">
	{% csrf_token %}
	<label for="author">Friends Username: </label>
	<input id="author" type="text" name="author" value="">
	<input type="hidden" name="next" value="{{ request.path }}">
    	<input type="submit" value="OK">
</form>
<ul>
{% if object_list %}
	{% for follow in object_list %}
		{% if follow.author == user.username %}
			<li>
				Follower: {{ follow.follower }}
				<form action="/friend_request_accept" method="POST">
					{% csrf_token %}
					<input type="hidden" name="follower" value="{{ follow.requesterId }}">
					<input type="hidden" name="next" value="{{ request.path }}">
					<input type="submit" value="Accept Friend Request">
					
				</form>
			</li>
	        {% endif %}
	        {% if follow.follower == user.username %}
			<li>
				Following: {{ follow.author }} 
				<form action="/unfollow" method="POST">
					{% csrf_token %}
					<input type="hidden" name="follower" value="{{ follow.follower  }}">
					<input type="hidden" name="author" value="{{ follow.author }}">
					<input type="hidden" name="next" value="{{ request.path }}">
					<input type="submit" value="Unfollow">
				</form>
			</li>
	        {% endif %}
	{% endfor %}
{% else %}
	<p>No Friends to show.</p>
{% endif %}
</ul>
