<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Unhindled</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
    </head>
    <body>
        <main>
            <div class="home-page">
                {% if user.is_authenticated %}
                    <div class="user-info">
                        Hi {{ user.username }}!
                        <a class="ml-2" href="{% url 'mystream' %}">View your stream</a>
                        <a class="ml-2" href="{% url 'createPost' %}">Create Post Button</a>
                        <div class="account-management">
                            <a href="{% url 'account' %}">Manage Account</a>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </div>
                    <h2>Posts</h2>
                    {% if object_list %}
                        {% for post in object_list %}
                            <!-- if (x and y) or z -->
                            {% if post.visibility == "friends" and post.author.id in user.friends_list or post.visibility == "public" %}
                                <div class="post">
                                    <a href="{% url 'viewPost' post.author.displayName post.pk %}">{{ post.title }}</a> <br>
                                    By: {{ post.author }} <br>
                                    {{ post.content }}
                                </div>
                                <hr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No Posts to show.</p>
                    {% endif %}
                {% else %}
                    <div class="login-page">
                        <p class="title">Unhindled</p>
                        <a class="login-text" href="{% url 'login' %}">Log In</a>
                    </div>
                    {% if object_list %}
                            {% for post in object_list %}
                                {% if post.visibility == "public" %}
                                    <div class="post">
                                        <a href="{% url 'viewPost' post.author.displayName post.pk %}">{{ post.title }}</a> <br>
                                        By: {{ post.author }} <br>
                                        {{ post.content }}
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No Posts to show.</p>
                        {% endif %}
                {% endif %}
            </div>
        </main>
    </body>
</html>
