<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Unhindled</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
    </head>
    <body>
      <main>
        <div class="home-page">
          {% if user.is_authenticated %}
          <div class="user-info">
            <a class="mr-2" href="{% url 'index' %}">Home</a>
            <a href="{% url 'createPost' %}">Create Post</a>
            <div class="account-management">
                <a href="{% url 'profile' user.profile.pk %}">Profile</a>
                <a href="{% url 'friends' user.username %}">Manage Friends</a>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
            <p class="non-white-title">My Stream</p>
            {% if object_list %}
              <h3>My Posts</h3>
              {% for post in object_list %}
                <!-- change this to ID when author and user are matched -->
                {% if post.author.username == user.username %}
                  <div class="post">
                      <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                      By: {{ post.author }} <br>
                      {{ post.description }}
                  </div>
                {% endif %}
              {% endfor %}
              <h3>Sent to me</h3>
              {% for post in object_list %}
                {% if post.send_to.username == user.username and post.visibility == "send" %}
                  <div class="post">
                      <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                      By: {{ post.author }} <br>
                      {{ post.description }}
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
                <p>No Posts to show.</p>
            {% endif %}
          {% endif %}
        </div>
    </main>
  </body>
</html>
