<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Unhindled</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
    </head>
    <body>
      <main>
        <div>
          {% if user.is_authenticated %}
            <div class="login-banner">
              <div class="user-info">
                <p class="white-title">Unhindled</p>
                <a class="header-link" href="{% url 'index' %}">Home</a>
                <a class="header-link" href="{% url 'createPost' %}">Create Post</a>
                <div class="account-management">
                    <a class="white-text mr-2" href="{% url 'profile' user.profile.pk %}">Profile</a>
                    <a class="white-text mr-2" href="{% url 'friends' user.username %}">Manage Friends</a>
                    <a class="white-text mr-2" href="{% url 'logout' %}">Log Out</a>
                </div>
              </div>
            </div>
            <p class="non-white-title">My Stream</p>
            {% if object_list %}
              {% for post in object_list %}
                <!-- change this to ID when author and user are matched -->
                {% if post.author.username == user.username %}
                  <div class="post">
                      <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                      By: {{ post.author }} <br>
                      {{ post.description }}
                  </div>
                {% endif %}
              {% endfor %}
              <h3>Sent to me</h3>
              {% for post in object_list %}
                {% if post.send_to.username == user.username and post.visibility == "send" %}
                  <div class="post">
                      <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                      By: {{ post.author }} <br>
                      {{ post.description }}
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
                <p>No Posts to show.</p>
            {% endif %}
          {% endif %}

          <!-- Github Activity -->
          <h3>Github Activity</h3>
          {% if event_list %}
              <table>
              <tr>
                <th>Repository</th>
                <th>Activity</th>
                <th>Link to repo</th>
              </tr>
              {% for event in event_list %}
                  <tr>
                    <td>{{event.repo}}</td>
                    <td>{{event.type}}</td>
                    <td><a href={{event.url}}>Link</a></td>
                  </tr>
              {% endfor %}
              </table>
          {% else %}
              <p>No activity to show.</p>
          {% endif %}
        </div>
    </main>
  </body>
</html>
