<!DOCTYPE html>
<html>
<head>
<!--fontawesome.com-->
<script src="https://kit.fontawesome.com/1d71f92e0a.js" crossorigin="anonymous"></script>
{% load static %}
<title>Unhindled</title>
<link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
</head>
</html>


{% block content %}
<div class="container">
    <div >
        <div class="user-info">
            <a class="mr-2" href="{% url 'index' %}" >Home</a>
            <a class="mr-2" href="{% url 'mystream' %}">My Stream</a>
            <a href="{% url 'createPost' %}">Create Post</a>
            <div class="account-management">
                <a href="{% url 'friends' user.username %}">Manage Friends</a>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        </div>
    </div>
    <div >
        <div >
            <img class="mt-3" src="{{ profile.photo.url }}" width="115" height="100" >
            <span>
                {% if request.user == user %}
                    <a href="{% url 'editProfile' profile.pk %}" style='color: black; font-size:22px' ><i class="far fa-edit"></i></a>
                {% endif %}
            </span>

            <div class="flex">
                <p class="mr-2">Username: </p>
                {% if profile.name %}
                    <p> {{ profile.name }}</p>
                {% else %}
                    <p>{{ user.username }}</p>
                {% endif %}
            </div>
            <!-- TODO: password change? -->

            <div class="flex mt-0">
                <p class="mr-2">Birthday:</p>
                {% if profile.date_of_birth %}
                <p>{{ profile.date_of_birth }}</p>
                {% endif %}
            </div>

            <div class="flex mt-0">
                <p class="mr-2">Location:</p>
                {% if profile.location %}
                <p>{{ profile.location }}</p>
                {% endif %}
            </div>

            <div class="flex mt-0">
                <p class="mr-2">More Info:</p>
                {% if profile.more_info %}
                <p>{{ profile.more_info }}</p>
                {% endif %}
            </div>

        </div>
    </div>

</div>
{% endblock content %}