<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Unhindled</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
</head>
<body>
<main>
{% load markdown_extras %}

<h1>{{post.title}}</h1>
<small>Author: {{post.author}}</small>
<br>
{% load tz %}
{% localtime on %}
<small>Created: {{post.created_on}}</small>
{% endlocaltime %}
<br>
<hr>
<a href="{% url 'index' %}">Home</a>
{% if user.username == post.author.username %}
  {% if post.is_shared_post %}
  <a href="{% url 'viewPost' post.author.username post.originalPost.pk %}">View Original</a>
  {% else %}
  <a href="{% url 'updatePost' post.author.username post.pk %}">Edit</a>
  {% endif %}
  <a href="{% url 'deletePost' post.author.username post.pk %}">Delete</a>
{% else %}
  <a href="{% url 'sharePost' post.author.username post.pk %}" onclick="return confirm('Are you sure?');">Share</a>
{% endif %}
<br>
<br>
{{post.description}}
{% if post.contentType == "md" %}
<p>{{post.content | markdown | safe }}</p>
{% else %}
<p>{{post.content}}</p>
{% endif %}
<br>
<br>
{% if post.images %}
<img class="image-post" src="{{post.images.url}}">
{% endif %}
</main>
</body>
</html>
