{% load markdown_extras %}

<h1>{{post.title}}</h1>
<small>Author: {{post.author}}</small>
<br>
{% load tz %}
{% localtime on %}
<small>Created: {{post.created_on}}</small>
{% endlocaltime %}
<br>
<hr>
<a href="{% url 'index' %}">Home</a>
{% if user.username == post.author.username %}
  <a href="{% url 'updatePost' post.author.displayName post.pk %}">Edit</a>
  <a href="{% url 'deletePost' post.author.displayName post.pk %}">Delete</a>
  <a href="{% url 'sharePost' post.author.displayName post.pk %}" onclick="return confirm('Are you sure?');">Delete</a>
{% endif %}
<br>
<br>
{% if post.contentType == "md" %}
<p>{{post.content | markdown | safe }}</p>
{% else %}
<p>{{post.content}}</p>
{% endif %}
<br>
<br>
{% if post.images %}
<img src="{{post.images.url}}">
{% endif %}