{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% #header user=user %}
{% /header %}

<main>
    <p class="non-white-title">Create Post</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form|crispy }}
        <button class="mt-5 mb-5">Post</button> -->
        <!-- TODO custom form -->
        <div class="mt-3">
            <label class="mr-2" for="{{ form.author.id_for_label }}">Title: </label>
        </div>
        {{ form.title }}
        <div class="mt-3">
            <label class="mt-1 mr-2" for="{{ form.contentType.id_for_label }}">Content Type: </label>
        </div>
        {{ form.contentType }}
        <div class="mt-3">
            <label class="mt-1 mr-2" for="{{ form.visibility.id_for_label }}">Visibility: </label>
        </div>
        {{ form.visibility }}
        <div class="mt-3">
            <label class="mt-1 mr-2" for="{{ form.send_to.id_for_label }}">Send To: </label>
        </div>
        {{ form.send_to }}
        <div class="mt-3">
            <label for="{{ form.description.id_for_label }}">Description: </label>
        </div>
        {{ form.description }}
        <div class="mt-3">
            <label class="mt-1 mr-2" for="{{ form.content.id_for_label }}">Content: </label>
        </div>
        {{ form.content }}
        <div class="mt-3">
            <label for="{{ form.image.id_for_label }}">Image: </label>
        </div>
        {{ form.images }}
        <div class="mt-3">
            <label for="{{ form.unlisted.id_for_label }}">Unlisted: </label>
            {{ form.unlisted }}
        </div>
        <button class="mt-3 mb-5" type="submit" value="Submit">Post</button>
    </form>
</main>
{% endblock %}