
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}

{% #header user=user %}
{% /header %}
{% load friends %}


<main>
<p class="non-white-title">Manage Friends</p>

<form class="mb-5" action="/follow" method="POST">
	{% csrf_token %}
	<label for="author">Friend's Display Name: </label>
	<input id="author" type="text" name="author" class="textinput">
	<input type="hidden" name="next" value="{{ request.path }}">
    	<input type="submit" class="follow-button" value="Send Follow">
</form>
{% if object_list %}
	{% for follow in object_list %}
		{% with follow.follower|addstr:" "|addstr:user.id as ids %}
	        {% if ids|follow_check %}
			<li>
				
				Following: {% getDisplayName follow.author %}
				<form action="/unfollow" method="POST">
					{% csrf_token %}
					<input type="hidden" name="author" value="{{ follow.author }}">
					<input type="hidden" name="next" value="{{ request.path }}">
					<input type="submit" value="Unfollow">
				</form>
			</li>
	        {% endif %}
	        {% endwith %}
	</ul>
	{% endfor %}
{% else %}
	<p class="is-italic">You are not following anyone.</p>
{% endif %}
</main>
{% endblock %}
