{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}

<main>
<p class="non-white-title">Manage Friends</p>

<form action="/friend_request" method="POST">
	{% csrf_token %}
	<label for="adressee">Friends Username: </label>
	<input id="adressee" type="text" name="adressee" value="">
	<input type="hidden" name="next" value="{{ request.path }}">
    	<input type="submit" value="OK">
</form>
{% if object_list %}
	<ul>
	{% for friendship in object_list %}
		{% if friendship.adresseeId == user.username %}
			{% if friendship.status == "pending" %} 
				<li>
					Follower: {{ friendship.requesterId }}
					<form action="/friend_request_accept" method="POST">
						{% csrf_token %}
						<input type="hidden" name="follower" value="{{ friendship.requesterId }}">
						<input type="hidden" name="next" value="{{ request.path }}">
						<input type="submit" value="Accept Friend Request">
						
					</form>
				</li>
			{% endif %}
			{% if friendship.status == "accepted" %} 
				<li>
					Friend: {{ friendship.requesterId }} 
					<form action="/unfriend" method="POST">
						{% csrf_token %}
						<input type="hidden" name="requester" value="{{ friendship.requesterId }}">
						<input type="hidden" name="adressee" value="{{ friendship.adresseeId }}">
						<input type="hidden" name="next" value="{{ request.path }}">
						<input type="submit" value="Unfriend">
					</form>
				</li>
			{% endif %}
	        {% endif %}
	        {% if friendship.requesterId == user.username %}
	        	{% if friendship.status == "pending" %} 
				<li>
					Following: {{ friendship.adresseeId }} 
					<form action="/unfriend" method="POST">
						{% csrf_token %}
						<input type="hidden" name="requester" value="{{ friendship.requesterId }}">
						<input type="hidden" name="adressee" value="{{ friendship.adresseeId }}">
						<input type="hidden" name="next" value="{{ request.path }}">
						<input type="submit" value="Unfollow">
					</form>
				</li>
			{% endif %}
			{% if friendship.status == "accepted" %} 
				<li>
					Friend: {{ friendship.adresseeId }} 
					<form action="/unfriend" method="POST">
						{% csrf_token %}
						<input type="hidden" name="requester" value="{{ friendship.requesterId }}">
						<input type="hidden" name="adressee" value="{{ friendship.adresseeId }}">
						<input type="hidden" name="next" value="{{ request.path }}">
						<input type="submit" value="Unfriend">
					</form>
				</li>
			{% endif %}
		{% endif %}
	</ul>
	{% endfor %}
{% else %}
	<p class="mt-4">No Friends to show.</p>
{% endif %}
</main>
{% endblock %}