{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}

<div class=inboxHeading>
    Inbox:
</div>

{% if user.is_authenticated %}

    <div class=inboxClear>
        <a href="{% url 'clearInbox' user.id %}" onclick="return confirm('Are you sure you want to clear your inbox?');">Clear Inbox</a>
    </div>
    <div class=inboxContainer></div>
    {% for inbox in object_list %}
        {% if user.id == inbox.inbox_of.id %}
            {% if inbox.type == "post" %}
            <div class="inbox" onclick="window.location='{{inbox.link}}';">
                <img class="inboxImage" src="{{ MEDIA_URL }}/images/messageInbox.png"></img>
                <div class="inboxInfo">
                    <p>{{inbox.inbox_from.username}} sent you a private post</p>
                </div>
            </div>
            {% elif inbox.type == "like" %}
            <div class="inbox" onclick="window.location='{{inbox.link}}';">
                <img class="inboxImage" src="{{ MEDIA_URL }}/images/likeInbox.png"></img>
                <div class="inboxInfo">
                    <p>{{inbox.inbox_from.username}} liked your post</p>
                </div>
            </div>
            {% elif inbox.type == "follow" %}
            <div class="inbox" onclick="window.location='{{inbox.link}}';">
                <img class="inboxImage" src="{{ MEDIA_URL }}/images/followInbox.png"></img>
                <div class="inboxInfo">
                    <p>{{inbox.inbox_from.username}} sent you a follow request</p>
                </div>
            </div>
            {% elif inbox.type == "comment" %}
            <div class="inbox" onclick="window.location='{{inbox.link}}';">
                <img class="inboxImage" src="{{ MEDIA_URL }}/images/commentInbox.png"></img>
                <div class="inboxInfo">
                    <p>{{inbox.inbox_from.username}} commented on your post</p>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% endblock %}