{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load friend_check %}
{% load url_check %}
{% load date_helper %}

{% #header user=user %}
{% /header %}

<main>
<div class="mb-5">
    {% if user.is_authenticated %}
        <p class="non-white-title">Home</p>
        {% if object_list %}
            {% for post in object_list %}
                {% if post.visibility == "friends" and post.author.displayName|friend_check:user.displayName or post.visibility == "PUBLIC" %}
                    <div class="post">
                        <div class="is-flex">
                            <small>Posted by: <a href="/author/{% valid_url_profile post.author.id %}">{{post.author.displayName}}</a></small>
                            <small>
                                &nbsp;• {% load tz %}
                                {% localtime on %}
                                <small>Created: {{post.published}}</small>
                                {% endlocaltime %}
                            </small>
                            <div class="ml-auto">
                                <small class="source-text">{{post.source}}</small>
                            </div>
                        </div>
                        {% if post.is_shared_post %}
                            <p class="is-size-5 has-text-weight-bold"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">{{ post.title }}</a></p>
                            Shared by: <a href="/author/{% valid_url_profile post.sharedBy.id %}">{{ post.sharedBy }}</a>
                        {% else %}
                            <a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">{{ post.title }}</a> <br>
                        {% endif %}
                        <p>{{ post.description }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Posts to Show.</p>
        {% endif %}
    {% else %}
        <p class="non-white-title">Home</p>
        {% if object_list %}
            {% for post in object_list %}
                {% if post.visibility == "PUBLIC" %}
                    <div class="post">
                        <div class="is-flex">
                            <small>Posted by: <a href="/author/{% valid_url_profile post.author.id %}">{{post.author.displayName}}</a></small>
                            <small>
                                &nbsp;• {% load tz %}
                                {% localtime on %}
                                <small>Created: {{post.published}}</small>
                                {% endlocaltime %}
                            </small>
                        </div>
                        {% if post.is_shared_post %}
                            <p class="is-size-5 has-text-weight-bold"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">{{ post.title }}</a></p>
                            Shared by: <a href="/author/{% valid_url_profile post.sharedBy.id %}">{{ post.sharedBy }}</a>
                        {% else %}
                        <a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">{{ post.title }}</a> <br>
                        {% endif %}
                        <p>{{ post.description }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Posts to show.</p>
        {% endif %}
    {% endif %}
</div>
</main>
{% endblock %}