{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load friend_check %}

{% #header user=user %}
{% /header %}

<main>
<div>
    {% if user.is_authenticated %}
        <p class="non-white-title mt-4 mb-2">Home</p>
        {% if object_list %}
            {% for post in object_list %}
                {% if post.visibility == "friends" and post.author.username|friend_check:user.username  or post.visibility == "public" %}
                    <div class="post">
                        {% if post.is_shared_post %}
                            <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                            Shared by: {{ post.sharedBy.username }} <br>
                        {% else %}
                            <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                        {% endif %}
                        Author: {{ post.author }} <br>
                        {{ post.description }}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No Posts to Show.</p>
        {% endif %}
    {% else %}
        {% if object_list %}
                {% for post in object_list %}
                    {% if post.visibility == "public" %}
                        <div class="post">
                            {% if post.is_shared_post %}
                                <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                                Shared by: {{ post.sharedBy.username }} <br>
                            {% else %}
                                <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                            {% endif %}
                            By: {{ post.author }} <br>
                            {{ post.description }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="non-white-title mt-4 mb-2">Home</p>
                <p>No Posts to show.</p>
            {% endif %}
    {% endif %}
</div>
</main>
{% endblock %}