<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Unhindled</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
</head>

<body>
    {% #header user=user %}
    {% /header %}
    <main>
        <div>
            {% if user.is_authenticated %}
            <p class="non-white-title">My Stream</p>
            {% if object_list %}
                {% for post in object_list %}
                <!-- change this to ID when author and user are matched -->
                {% if post.author.username == user.username %}
                    <div class="post">
                        <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                        By: {{ post.author }} <br>
                        {{ post.description }}
                    </div>
                {% endif %}
                {% endfor %}
                <h3>Sent to me</h3>
                {% for post in object_list %}
                {% if post.send_to.username == user.username and post.visibility == "send" %}
                    <div class="post">
                        <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                        By: {{ post.author }} <br>
                        {{ post.description }}
                    </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <p>No Posts to show.</p>
            {% endif %}
            {% endif %}


            <!-- Github Activity -->
            <h3>Github Activity</h3>
            <table id="github_table">
                <tr>
                    <th>Repository</th>
                    <th>Activity</th>
                    <th>Link to repo</th>
                </tr>
            </table>

            <!-- safely loading request headers from python -->
            {{ headers|json_script:"headers" }}

            <script>
                function fillTable() {
                    // BUG: events has 30 items but events.length = 0
                    var events = getGithubActivity();
                    console.log("fillTable() - Events: " + Object.keys(events).length);
                    console.log(events);


                    var table = document.getElementById("github_table")
                    for (let i = 0; i < Object.keys(events).length; i++) {
                        let event = events[i];

                        const repo = document.createElement('td')
                        repo.appendChild(document.createTextNode(event['repo']));

                        const type = document.createElement('td')
                        type.appendChild(document.createTextNode(event['type']));
                        
                        const url = document.createElement('td')
                        url.appendChild(document.createTextNode(event['url']));

                        const row = document.createElement('tr')
                        row.appendChild(repo);
                        row.appendChild(activity);
                        row.appendChild(link);
                        table.appendChild(row);
                        console.log("fillTable() - row:");
                        console.log(row);
                    }
                }
                
                function getURL(endpoint, auth, callback, backup=null) {
                    var url;
                    var request = new XMLHttpRequest();
                    request.open("GET", endpoint);
                    request.setRequestHeader('Authorization', auth);

                    request.onreadystatechange = function () {
                        if (request.readyState == 4 && request.status == 200) {
                            try {
                                // Successful request: Public repo (we can get the link)
                                var data = JSON.parse(request.responseText);
                                url = data?.['html_url'];
                                callback(url);
                            }
                            catch(e) {
                                if (backup) {
                                    // Unsuccessful request: Private repo (get the user's profile link instead)
                                    console.log('getURL() - Private repo (sending profile link)');
                                    return getURL(backup, auth, function(url) {return url;});
                                } else {
                                    // Unsuccessful request: Error
                                    console.log("getURL() - Error: " + e);
                                }
                            }
                        }
                    }
                    request.send();
                    return 
                }

                function getGithubActivity() {
                    GITHUB_EVENTS = {
                        "CreateEvent": "Created repo/branch",
                        "DeleteEvent": "Deleted repo/branch",
                        "PushEvent":   "Pushed code",
                        "PullEvent":   "Pulled code",
                        "ForkEvent":   "Forked repo",
                        "MemberEvent": "Managed organization",
                        "PullRequestEvent": "Pull request",
                        "unknown": "Unknown event",
                        null: "Unknown event"
                    }
                    
                    var events = [];

                    // Get request headers
                    const headers = JSON.parse(document.getElementById('headers').textContent);

                    // AJAX request to get Github activiy data
                    var activityRequest = new XMLHttpRequest();
                    activityRequest.open('GET', headers['uri']);

                    activityRequest.onreadystatechange = function () {
                        if (activityRequest.readyState == 4 && activityRequest.status == 200) {
                            try {
                                var activityResponse = JSON.parse(activityRequest.responseText);
                                for (let i = 0; i < activityResponse.length; i++) {
                                    let event = activityResponse[i]
                                    var repo = event?.['repo']?.['name']
                                    var type = GITHUB_EVENTS[event?.['type']]

                                    var repo_api = event?.['repo']?.['url']
                                    var user_api = event?.['actor']?.['url']
                                    var url;
                                    function callback(url) {
                                        events.push({"repo": repo, "type": type, "url": url});
                                    }
                                    getURL(repo_api, headers['auth'], callback, user_api);

                                    
                                }
                            }
                            catch (e) {
                                console.log('getGithubActivity() - Error: ' + e);
                            }
                        }
                    };

                    activityRequest.send();
                    return events;
                }

            fillTable();
            </script>

            <table id="github_table">
                <tr>
                    <th>Repository</th>
                    <th>Activity</th>
                    <th>Link to repo</th>
                </tr>

                <!-- tr>
                <td id="table_repo"></td>
                <td id="table_activity"></td>
                <td id="table_link"><a href=""></a></td>
                </tr-->

            </table>
        </div>
    </main>
</body>

</html>
