<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Unhindled</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'unhindled/style.css' %}" />
</head>

<body>
    {% #header user=user %}
    {% /header %}
    <main>
        <div>
            {% if user.is_authenticated %}
            <p class="non-white-title">My Stream</p>
            {% if object_list %}
                {% for post in object_list %}
                <!-- change this to ID when author and user are matched -->
                {% if post.author.username == user.username %}
                    <div class="post">
                        <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                        By: {{ post.author }} <br>
                        {{ post.description }}
                    </div>
                {% endif %}
                {% endfor %}
                <h3>Sent to me</h3>
                {% for post in object_list %}
                {% if post.send_to.username == user.username and post.visibility == "send" %}
                    <div class="post">
                        <a href="{% url 'viewPost' post.author.username post.pk %}">{{ post.title }}</a> <br>
                        By: {{ post.author }} <br>
                        {{ post.description }}
                    </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <p>No Posts to show.</p>
            {% endif %}
            {% endif %}


            <!-- Github Activity -->
            <h3>Github Activity</h3>
            <table id="github_table">
                <tr>
                    <th>Repository</th>
                    <th>Activity</th>
                    <th>Link to repo</th>
                </tr>
            </table>

            <!-- safely loading request headers from python -->
            {{ headers|json_script:"headers" }}

            <script>
            /*
            Send HTTP GET request via AJAX to fetch Github activity
            Params: None
            Return: None
            */
            function getGithubActivity() {
                GITHUB_EVENTS = {
                    "CreateEvent": "Created repo/branch",
                    "DeleteEvent": "Deleted repo/branch",
                    "PushEvent":   "Pushed code",
                    "PullEvent":   "Pulled code",
                    "ForkEvent":   "Forked repo",
                    "MemberEvent": "Managed organization",
                    "PullRequestEvent": "Pull request",
                    "unknown": "Unknown event",
                    "": "Unknown event",
                    null: "Unknown event"
                }

                // Get request headers
                const headers = JSON.parse(document.getElementById('headers').textContent);

                // AJAX request to get Github activiy data
                var request = new XMLHttpRequest();
                request.open('GET', headers['uri']);
                request.setRequestHeader('Authorization', headers['auth']);
                request.setRequestHeader('Accept', 'application/vnd.github.v3+json')

                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        try {
                            var response = JSON.parse(request.responseText);
                            for (let i = 0; i < response.length; i++) {
                                let responseData = response[i]
                                var repo = responseData?.['repo']?.['name']
                                var type = GITHUB_EVENTS[responseData?.['type']]

                                var repoEndpoint = responseData?.['repo']?.['url']
                                var userEndpoint = responseData?.['actor']?.['url']
                                var event = {"repo": repo, "type": type, "url": ""};
                                
                                // Callback function: Pushes dict <data> to global list <events>
                                function addEvent(data) {events.push(data)}
                                getURL(repoEndpoint, event, headers['auth'], addEvent, userEndpoint);
                            }
                        }
                        catch (e) {
                            console.log('getGithubActivity() - Error: ' + e);
                        }
                    }
                };
                request.send();
                return events;
            }

            /*
            Send HTTP GET request via AJAX to fetch repo URL. If repo is private, fetch profile URL instead.
            
            Params:
                str:endpoint    Endpoint to send GET request to (repo URL)
                dict:event      Github event data to pass into callback function
                str:auth        Authentication headers
                func:callback   Callback function to be called on successfull request
                str:backup      Endpoint to reattempt request with if the request fails (profile URL - optional)
            
            Return: None
            */
            function getURL(endpoint, event, auth, callback, backup=null) {
                var request = new XMLHttpRequest();
                request.open("GET", endpoint);
                request.setRequestHeader('Authorization', auth);
                request.setRequestHeader('Accept', 'application/vnd.github.v3+json')

                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        try {
                            // Successful request: Public repo (we can get the link)
                            var data = JSON.parse(request.responseText);
                            url = data?.['html_url'];
                            event['url'] = url;
                            callback(event);
                        }
                        catch(e) {
                            console.log("getURL() - Error: " + e);
                            if (backup) {
                                // Unsuccessful request: Private repo (get the user's profile link instead)
                                console.log('getURL() - Attempting to serve profile URL instead');
                                getURL(backup, event, auth, callback);
                            }
                        }
                    }
                }
                request.send();
            }

            /*
            Construct a table of recent Github events using data contained in list <events>
            Params: None
            Return: None
            */
            function fillTable() {
                // BUG: events is empty only inside this function
                console.log("fillTable() length: " + events.length);
                console.log("fillTable() events: " + events);

                var table = document.getElementById("github_table")
                for (let i = 0; i < events.length; i++) {
                    let event = events[i];

                    const repo = document.createElement('td')
                    repo.appendChild(document.createTextNode(event['repo']));

                    const type = document.createElement('td')
                    type.appendChild(document.createTextNode(event['type']));
                    
                    const url = document.createElement('td')
                    url.appendChild(document.createTextNode(event['url']));

                    const row = document.createElement('tr')
                    row.appendChild(repo);
                    row.appendChild(type);
                    row.appendChild(url);
                    table.appendChild(row);
                }
            }

            events = []
            getGithubActivity();
            fillTable();

            </script>
            </table>
        </div>
    </main>
</body>

</html>
