{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}

{% load image_helper %}
{% load url_check %}

<main>
<div class="container my-5">
    <div >
        <div >
            <div class="is-flex">
                <img class="my-3 pfp mr-3" src="{% image_exists profile.profileImage.url %}" width="100" height="100" >
                <br>
                <span class="ml-auto">
                    {% if user.is_authenticated %}
                        {% if user.id == profile.user.id %}
                            <a href="{% url 'editProfile' profile.pk %}">
                                <img class="my-3 mr-3" src="{{ MEDIA_URL }}/images/edit.png" width="20" height="20">
                            </a>
                        {% endif %}
                    {% endif %}
                </span>
            </div>

            <div class="flex mt-3">
                <p class="label-field has-text-weight-bold">Username: </p>
                <input class="disabled-input" disabled value="{% if profile.displayName %} {{ profile.displayName }} {% endif %}">
            </div>
            <!-- TODO: password change? -->

            <div class="flex mt-3">
                <p class="label-field has-text-weight-bold">Date of Birth:</p>
                <input class="disabled-input" disabled value="{% if profile.date_of_birth %} {{ profile.date_of_birth }} {% endif %}">
            </div>

            <div class="flex mt-3">
                <p class="label-field has-text-weight-bold">Location:</p>
                <input class="disabled-input" disabled value="{% if profile.location %} {{ profile.location }} {% endif %}">
            </div>

            <div class="flex mt-3">
                <p class="label-field has-text-weight-bold">Github:</p>
                <input class="disabled-input" disabled value="{% if profile.github %} {{ profile.github }} {% endif %}">
            </div>

            <div class="flex mt-3">
                <p class="label-field has-text-weight-bold">More Info:</p>
                <input class="disabled-input" disabled value="{% if profile.more_info %} {{ profile.more_info }} {% endif %}">
            </div>

        </div>
        <p class="non-white-title is-size-5">Posts </p>
        {% if posts %}
            {% for post in posts %}
            <div class="comment-box mt-3">
                {% if post.visibility != "unlisted" %}
                    <a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">{{ post.title }}</a> <br>
                    <p>{{ post.published }}</p>
                    <p>{{ post.description }}</p>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>No Posts to show.</p>
        {% endif %}
    </div>
</div>
</main>
{% endblock content %}
