{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}

{% load image_helper %}

<main>
<div class="container my-5">
    <div >
        <div >
            <img class="my-3 pfp mr-3" src="{% image_exists profile.profileImage.url %}" width="100" height="100" >
            <br>
            <span>
                {% if user.id == profile.user.id %}
                    <!-- add back in once we figure out getting users -->
                    <a href="{% url 'editProfile' profile.pk %}">EDIT PROFILE</a>
                {% endif %}
            </span>

            <div class="flex mt-3">
                <p class="mr-2 has-text-weight-bold">Username: </p>
                {% if profile.displayName %}
                    <p> {{ profile.displayName }}</p>
                {% else %}
                    <p>{{ user.displayName }}</p>
                {% endif %}
            </div>
            <!-- TODO: password change? -->

            <div class="flex mt-3">
                <p class="mr-2 has-text-weight-bold">Birthday:</p>
                {% if profile.date_of_birth %}
                <p>{{ profile.date_of_birth }}</p>
                {% endif %}
            </div>

            <div class="flex mt-3">
                <p class="mr-2 has-text-weight-bold">Location:</p>
                {% if profile.location %}
                <p>{{ profile.location }}</p>
                {% endif %}
            </div>

            <div class="flex mt-3">
                <p class="mr-2 has-text-weight-bold">Github:</p>
                {% if profile.github %}
                <p>{{ profile.github }}</p>
                {% endif %}
            </div>

            <div class="flex mt-3">
                <p class="mr-2 has-text-weight-bold">More Info:</p>
                {% if profile.more_info %}
                <p>{{ profile.more_info }}</p>
                {% endif %}
            </div>

        </div>
        <p class="non-white-title is-size-6">Posts: </p>
        {% if posts %}
            {% for post in posts %}
            <div class="comment-box mt-3">
                {% if post.visibility != "unlisted" %}
                    <a href="{% url 'viewPost' post.author.displayName post.id %}">{{ post.title }}</a> <br>
                    <p>{{ post.published }}</p>
                    <p>{{ post.description }}</p>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>No Posts to show.</p>
        {% endif %}
    </div>
</div>
</main>
{% endblock content %}