{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}
{% load crispy_forms_tags %}

{% load markdown_extras %}
{% load url_check %}
{% load len_check %}
{% load comment_like %}
{% load post_like %}

<main>
<div class="is-flex mt-3">
  <small>Posted by: <a href="/author/{% valid_url_profile post.author.id %}">{{post.author.displayName}}</a></small>
  <small>
    &nbsp;• {% load tz %}
    {% localtime on %}
    <small>Created: {{post.published}}</small>
    {% endlocaltime %}
  </small>
</div>
<p class="non-white-title is-size-4 mb-2">{{post.title}}</p>
<p>{{post.description}}</p>
<div class="post-box">
  {% if post.contentType == "text/markdown" %}
    {{post.content | markdown | safe }}
  {% else %}
    <p>{{post.content}}</p>
  {% endif %}
  {% if post.images %}
    <img src="{{post.images.url}}">
  {% endif %}
</div>


<div class="is-flex">
  <p class="mb-3 mr-2 has-text-weight-bold">{% like_count_post post %} {% singular_like post %}</p>

{% if user.is_authenticated %}
  {% if post|post_liked:user %}
    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/unlike/{% valid_url_profile post.id %}/post">{% post_text post user %}</a></span>
  {% else %}
    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/like/{% valid_url_profile post.id %}/post">{% post_text post user %}</a></span>
  {% endif %}
{% endif %}

{% if user.id == post.author.id %}
  {% if post.is_shared_post %}
    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">View Original</a></span>
  {% else %}
    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/edit">Edit</a></span>
  {% endif %}
  <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/delete">Delete</a></span>
{% else %}
  <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/share" onclick="return confirm('Are you sure?');">Share</a></span>
{% endif %}
</div>

{% if request.user.is_authenticated %}
  <div class="mt-2">
    <form method = 'post'>
      {% csrf_token %}
      {{ comment_form|crispy }}
        <input type="submit" class="mt-5 button" value="Send">
    </form>
  </div>
{% else %}
  <p class="is-italic has-text-centered">Log In to Comment</p>
{% endif %}


<div class="mt-5 mb-5">
  <p class="mt-3">{{ comment_size}} Comment{{ comment_size|pluralize}}</p>
  <br>
  {% for comment in comments %}
  <div class="comment-box mb-3">
    <strong><a href="/author/{% valid_url_profile post.author.id %}">{{comment.author.displayName}}</a> - {{comment.published}}</strong>
    <p>{{ comment.comment}}</p>
    <p><b>{% like_count_comment comment.id %} {% singular_like_comment comment %}</b>
    {% if user.is_authenticated %}
      {% if comment.id|comment_liked:user %}
        <a href="/author/{% valid_url_profile post.author.id %}/unlike/{% valid_url_profile comment.id %}/comment">{% comment_text comment.id user %}</a>
      {% else %}
        <a href="/author/{% valid_url_profile post.author.id %}/like/{% valid_url_profile comment.id %}/comment">{% comment_text comment.id user %}</a>
      {% endif %}
    {% endif %}</p>
  </div>
  {% endfor %}
</div>
</main>
{% endblock content %}