{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% #header user=user %}
{% /header %}
{% load crispy_forms_tags %}

{% load markdown_extras %}
{% load url_check %}
{% load comment_like %}
{% load post_like %}

<main>
    <div class="is-flex mt-3">
        <small>Posted by: <a
                href="/author/{% valid_url_profile post.author.id %}">{{post.author.displayName}}</a></small>
        <small>
            &nbsp;• {% load tz %}
            {% localtime on %}
            <small>Created: {{post.published}}</small>
            {% endlocaltime %}
        </small>
    </div>
    <p class="non-white-title is-size-4 mb-2">{{post.title}}</p>
    <p>{{post.description}}</p>
    <div class="post-box">
        {% if post.contentType == "text/markdown" %}
        {{post.content | markdown | safe }}
        {% else %}
        <p>{{post.content}}</p>
        {% endif %}
    </div>
    {% if post.images %}
    <img src="{{post.images.url}}">
    {% endif %}

    <div class="is-flex">
        <p class="mb-3 mr-2 has-text-weight-bold">{% like_count_post post.id %} {% singular_like post.id %}</p>
        
        <!-- LOGGED IN: Show like button -->
        {% if user.is_authenticated %}
            {% if post.author.host == "https://social-dis.herokuapp.com" %}
                <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/post/{% valid_url_profile post.id %}/like">{% post_text post.id user %}</a></span>
            { % else %}
                {% if post.id|post_liked:user %}
                    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/unlike/{% valid_url_profile post.id %}/post">{% post_text post.id user %}</a></span>
                {% else %}
                    <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/like/{% valid_url_profile post.id %}/post">{% post_text post.id user %}</a></span>
                {% endif %}
            {% endif %}
        {% endif %}

        <!-- SHARED POST: Show view original button -->
        {% if post.is_shared_post %}
            <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}">View Original</a></span>
        
        <!-- ORIGINAL POST -> LOGGED IN -->
        {% elif user.is_authenticated %}            

            <!-- ORIGINAL POST -> LOGGED IN -> POST BELONGS TO USER: Show edit/delete button -->
            {% if user.id == post.author.id %}
                <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/edit">Edit</a></span>
                <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/delete">Delete</a></span>

            <!-- ORIGINAL POST -> LOGGED IN -> POST DOES NOT BELONG TO USER: Show share button -->
            {% else %}
                <span class="mr-2"><a href="/author/{% valid_url_profile post.author.id %}/posts/{% valid_url_profile post.id %}/share" onclick="return confirm('Are you sure?');">Share</a></span>
            {% endif %}
        {% endif %}
    </div>

    <div class="mt-2">
        <form method='post'>
            {% csrf_token %}
            {{ comment_form|crispy }}
            {% if request.user.is_authenticated %}
                <button class="mt-5">Send</button>
            {% else %}
                <button type="button" disabled>Send</button>
            {% endif %}
        </form>
    </div>

    <div class="mt-5 mb-5">
        <p class="mt-3">{{ post.comment.count}} Comment{{ post.comment.count|pluralize}}</p>
        <br>
        {% for comment in post.comment.all %}
        <div class="comment-box mb-3">
            <strong><a href="{% url 'profile' comment.author.id %}">{{comment.author}}</a> - {{comment.published}}</strong>
            <p>{{ comment.comment}}</p>
            <p>{% like_count_comment comment.id %} {% singular_like comment.id %} -
                {% if user.is_authenticated %}
                    {% if comment|comment_liked:user %}
                        <a href="{% url 'unlikeObject' user.displayName comment.id " comment" %}">{% comment_text comment user %}</a>
                    {% else %}
                        <a href="{% url 'likeObject' user.displayName comment.id " comment" %}">{% comment_text comment user %}</a>
                {% endif %}
                {% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}