{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<main>
  {% if not user.is_authenticated %}
    <div class="login-page">
      <p class="non-white-title">Log In</p>
      <form method="post">
        {% csrf_token %}
        <div class="mt-3">
          <label for="{{ form.username.id_for_label }}">Username: </label>
          {{ form.username }}
        </div>
        <div class="mt-3">
          <label class="mr-1" for="{{ form.password.id_for_label }}">Password: </label>
          {{ form.password }}
        </div>
        <button class="mt-5" type="submit">Log In</button>
      </form>
    </div>
  {% else %}
    <meta http-equiv="refresh" content="time; URL=/" />
  {% endif %}
</main>
{% endblock %}