{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<main>
  {% if not user.is_authenticated %}
    <div class="login-page">
      <p class="non-white-title">Log In</p>
      <form method="post">
        {% csrf_token %}
        <!-- {{ form | crispy }} -->
        <div class="mt-3">
          <label for="{{ form.username.id_for_label }}">Username: </label>
        </div>
        {{ form.username }}
        {{ form.username.errors }}
        <div class="mt-3">
          <label class="mr-1" for="{{ form.password.id_for_label }}">Password: </label>
        </div>
        {{ form.password }}
        {{ form.password.errors }}
        <p></p>
        <input type="submit" value="Log In" class="button mt-5">
      </form>
    </div>
  {% else %}
    <meta http-equiv="refresh" content="time; URL=/" />
  {% endif %}
</main>
{% endblock %}